html{
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
	align-items: center;
	background-color: gray;
}

div {
	box-sizing: border-box;
}

.game {
	min-width: 1280px;
	min-height: 720px;
	width: 1280px;
	height: 720px;
	background-color: black;
	border-style: double;
	border-color: blue;
	border-width: 10px;
	position: relative;
}

.playfield {
	background-color: black;
	position: absolute;
}
.score {
	width: 260px;
	border-left: solid blue 4px;
	position: absolute;
	height: 100%;
	right: 0;
	background-color: skyblue;
}

.paddle {
	background-color: white;
	position: absolute;
}

.ball {
	border-radius: 50%;
	background-color: white;
	position: absolute;
}

.block{
	background-color: white;
	border: solid silver 1px;
	position: absolute;
}

.menu{
	position: absolute;
	height: 700px;
	width: 1000px;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 200px 0;
	background-color: black;

}
.none{
	display: none;
}
h2{
	font-size: 48px;
	color: white;
}
button{
	font-size: 24px;
	color: blue;
}