html {
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}

div {
  box-sizing: border-box;
}

button {
  color: white;
  cursor: pointer;
  font-size: 24px;
  background-color: blue;
  padding: 5px 10px;
  border: 2px solid blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}

button:hover {
  background-color: black;
}

button:focus, input:focus{
  outline-width: 1px;
  outline-style: solid;
  outline-color: white;
  outline-offset: 4px;
}

.highlighted {
  background-color: yellow;
  border-color: yellow;
  color: blue;
  font-weight: 700;
}

.disabled {
  background-color: gray;
  border-color: gray;
  color: white;
  font-weight: normal;
}

.game {
  display: grid;
  grid-template-columns: 80% auto;
  width: 1280px;
  height: 720px;
  background-color: black;
  border-style: double;
  border-color: blue;
  border-width: 10px;
  position: relative;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 100%;
  border-left: solid blue 4px;
  background-color: black;
  padding-top: 20px;
}

.info-panel {
  width: 256px;
  height: 500px;
  background-color: black;
}

.options__title {
  color: blue;
}

.options__list li {
  margin-top: 60px;
  margin-bottom: 0;
}

.options__button {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 64px;
  height: 64px;
}

.sound-on {
  background-image: url(../img/sound-on.svg);
}

.sound-off {
  background-image: url(../img/sound-off.svg);
}

.language {
  background-image: url(../img/language.svg);
}

.theme {
  background-image: url(../img/theme.svg);
}

.fullscreen {
  background-image: url(../img/fullscreen.svg);
}

.fullscreen-on {
  background-image: url(../img/fullscreen-exit.svg);
}


.paddle {
  background-color: white;
  position: absolute;
}

.ball {
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.block {
  background-color: white;
  border: solid silver 1px;
  position: absolute;
}

.game-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.playerName {
  display: flex;
  justify-content: center;
}

.playerName label {
  margin-bottom: 30px;
}

.playerName input {
  margin-bottom: 30px;
  height: 30px;
  width: 250px;
  color: black;
  font-size: 16px;
  font-weight: 700;
  padding-left: 20px;
  background-color: gray;
}

.playerName input::placeholder {
  color: black;
  font-weight: normal;
}

h2 {
  font-size: 48px;
  margin: 100px 0;
}

p {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
  margin-bottom: 50px;
}

p.big {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightblue;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

li {
  margin-bottom: 20px;
}

table {
  width: 40%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

td:nth-child(even),
th:nth-child(even) {
  text-align: right;
}

.main-menu-button {
  position: absolute;
  bottom: 100px;
}

.playground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas {
  background-color: transparent;
  max-width: 100%;
  max-height: 100%;
}

.hide {
  display: none;
}
